/*** Global ***/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main: #2196f3;
  --sub: #ececec;
  --padding-section: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  text-transform: uppercase;
  border: 2px solid #000;
  width: fit-content;
  margin: 0 auto 80px;
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
  z-index: 1;
}

.heading::before,
.heading::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.heading::before {
  left: -30px;
}

.heading::after {
  right: -30px;
}

.heading:hover::before {
  animation: go-left 0.5s forwards;
}

.heading:hover::after {
  animation: go-right 0.5s forwards;
}

.heading:hover {
  color: #fff;
  border: 2px solid #fff;
  transition: 0.5s 0.5s;
}

.dots {
  display: none;
  position: absolute;
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
}

.dots-up {
  right: 0;
  top: 150px;
}

.dots-down {
  left: 0;
  bottom: 150px;
}

/*** header ***/

header {
  position: relative;
  z-index: 90;
}

header .container {
  display: flex;
  flex-direction: column;
}

#logo {
  display: block;
  font-weight: bold;
  padding: 10px;
  font-size: 24px;
  color: var(--main);
  text-align: center;
}

header .nav {
  display: flex;
  justify-content: center;
}

header .nav .link {
  display: block;
  padding: 10px;
  font-size: 14px;
  position: relative;
  transition: 0.5s;
}

header .nav .link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background-color: var(--main);
  transition: 0.5s;
}

header .nav .link:hover {
  color: var(--main);
  background-color: #fafafa;
}

header .nav .link:hover::before {
  width: 100%;
}

header .menu {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 84px;
  width: 100%;
  border-bottom: 2px solid var(--main);
  border-top: 1px solid #e9e6e6;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  visibility: hidden;
  opacity: 0;
}

header .menu.show {
  opacity: 1;
}

header .menu .image {
  display: none;
}

header .links a {
  display: block;
  font-size: 18px;
  color: var(--main);
  padding: 16px;
  font-weight: bold;
  position: relative;
}

header .links a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: width 0.5s;
}

header .links a:hover::before {
  width: 100%;
}

header .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

header .links a,
header .links i {
  color: var(--main);
}

header .links i {
  margin-right: 10px;
}

/*** landing ***/

#landing {
  height: calc(100vh - 84px);
  position: relative;
  overflow: hidden;
}

#landing::before {
  content: "";
  background-color: var(--sub);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -40px;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}

#landing .container {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 40px;
}

#landing .intro {
  max-width: 500px;
}

#landing .intro h1 {
  font-size: 28px;
  margin: 0;
  letter-spacing: -2px;
}

#landing .intro p {
  color: #666;
  line-height: 1.7;
  font-size: 18px;
  margin-top: 10px;
}

#landing .image {
  display: none;
}

#landing .arrow {
  color: var(--main);
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#landing .arrow i {
  animation: arrow 1.5s infinite;
}

/*** articles ***/

#articles {
  padding: var(--padding-section) 0;
}

#articles .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#articles .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  transition: 0.5s;
}

#articles .card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

#articles .card:hover i {
  animation: read-more 0.6s infinite linear;
}

#articles .card img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#articles .card .content {
  padding: 20px;
}

#articles .card h3 {
  margin: 0 0 10px;
}

#articles .card p {
  margin: 0;
  line-height: 1.6;
  color: #777;
}

#articles .card .info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--main);
  border-top: 1px solid #e6e6e7;
  font-weight: bold;
}

#articles .card i {
  cursor: pointer;
}

/*** gallery ***/

#gallery {
  padding: var(--padding-section) 0;
  background-color: var(--sub);
  position: relative;
}

#gallery::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

#gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

#gallery .image {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

#gallery .box {
  overflow: hidden;
  position: relative;
}

#gallery .box::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

#gallery .image:hover .box::before {
  animation: flash 0.3s;
}

#gallery img {
  width: 100%;
  transition: 0.3s;
}

#gallery .image:hover img {
  transform: scale(1.1) rotate(6deg);
}

/*** features ***/

#features {
  padding: var(--padding-section) 0;
}

#features .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#features .box {
  border: 1px solid #ccc;
  text-align: center;
  overflow: hidden;
}

#features .box .image {
  position: relative;
}

#features .box .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}

#features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}

#features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}

#features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}

#features .box .image::after {
  content: "";
  position: absolute;
  border-width: 0 0 170px 500px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}

#features .box:hover .image::after {
  border-right-width: 500px;
}

#features .box img {
  width: 100%;
}

#features .box h3 {
  font-size: 40px;
  margin: 0 auto;
  position: relative;
  width: fit-content;
}

#features .box h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;
  width: 80%;
  height: 5px;
}

#features .quality h3::after {
  background-color: #f44036;
}

#features .time h3::after {
  background-color: #009688;
}

#features .passion h3::after {
  background-color: #03a9f4;
}

#features .box p {
  line-height: 1.8;
  font-size: 20px;
  color: #777;
  padding: 20px;
}

#features .box a {
  display: block;
  width: fit-content;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 6px;
  margin: 0 auto 30px;
  position: relative;
  transition: 0.3s;
}

#features .quality a {
  color: #f44036;
  border: 3px solid #f44036;
}

#features .time a {
  color: #009688;
  border: 3px solid #009688;
}

#features .passion a {
  color: #03a9f4;
  border: 3px solid #03a9f4;
}

#features .box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: 0.3s;
  z-index: -1;
}

#features .quality a::before {
  background-color: #f44036;
}

#features .time a::before {
  background-color: #009688;
}

#features .passion a::before {
  background-color: #03a9f4;
}

#features .box:hover a::before {
  width: 100%;
}

#features .box:hover a {
  color: #fff;
}

/*** testimonials ***/

#testimonials {
  padding: var(--padding-section) 0;
  background-color: var(--sub);
}

#testimonials .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#testimonials .card {
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 6px;
}

#testimonials .card img {
  width: 100px;
  position: absolute;
  right: -8px;
  top: -50px;
  border-radius: 50%;
  background-color: var(--sub);
  padding: 10px;
}

#testimonials .card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

#testimonials .card .title {
  display: block;
  margin-bottom: 10px;
  color: #777;
}

#testimonials .card .filled {
  color: #ffc107;
}

#testimonials .card p {
  color: #777;
  line-height: 1.5;
  margin: 10px 0 0;
}

/*** team ***/

#team {
  padding: var(--padding-section) 0;
}

#team .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#team .card {
  position: relative;
  padding-top: 60px;
  transition: 0.3s;
}

#team .card:hover {
  filter: grayscale();
}

#team .card::before,
#team .card::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  width: calc(100% - 60px);
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 10px;
  z-index: -1;
}

#team .card::after {
  background-color: #e4e4e4;
  width: 0;
  opacity: 0.5;
  transition: 0.3s;
}

#team .card:hover::after {
  width: calc(100% - 60px);
}

#team .card .social {
  display: flex;
  align-items: center;
}

#team .card img {
  width: 200px;
  flex: 1;
  border-radius: 10px;
}

#team .card a {
  padding: 15px 20px;
  display: block;
  color: #777;
  transition: 0.5s;
}

#team .card a:hover {
  color: var(--main);
}

#team .card .info {
  padding-left: 80px;
}

#team .card h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--main);
  font-size: 22px;
}

#team .card p {
  margin-top: 0;
  margin-bottom: 20px;
}

/*** services ***/

#services {
  padding: var(--padding-section) 0;
  background-color: var(--sub);
  position: relative;
}

#services::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

#services .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#services .box {
  background-color: #fff;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  transition: 0.3s;
  counter-increment: num;
}

#services .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main);
  transition: 0.3s;
}

#services .box:hover {
  transform: translateY(-10px);
}

#services .box:hover::before {
  width: 100%;
}

#services .box i {
  color: #d5d5d5;
  display: block;
  text-align: center;
  margin: 30px 0 20px;
}

#services .box h3 {
  color: var(--main);
  text-align: center;
  font-size: 25px;
  margin: 0 0 40px;
}

#services .box .info {
  padding: 16px;
  background-color: #f9f9f9;
  text-align: right;
  color: var(--main);
  position: relative;
}

#services .box .info::before {
  content: "0" counter(num);
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  font-size: 28px;
  padding-right: 15px;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
}

#services .box .info::after {
  content: "";
  position: absolute;
  left: 80px;
  top: 0;
  height: 100%;
  width: 50px;
  transform: skewX(-30deg);
  background-color: #d5d5d5;
}

/*** skills ***/

#skills {
  padding: var(--padding-section) 0;
}

#skills .image {
  display: none;
}

#skills .skills {
  width: 100%;
}

#skills .skills h3 {
  text-transform: uppercase;
}

#skills .skills .progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}

#skills .skills .progress::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main);
  transition: 0.3s;
}

#skills.fill .html::before,
#skills.fill .python::before {
  width: 80%;
}

#skills.fill .css::before {
  width: 85%;
}

#skills.fill .script::before {
  width: 75%;
}

#skills .skills .progress::after {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: -40px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  font-weight: bold;
  color: var(--main);
}

#skills .html::after,
#skills .python::after {
  content: "80%";
}

#skills .css::after {
  content: "85%";
}

#skills .script::after {
  content: "75%";
}

/*** works ***/

#works {
  padding: var(--padding-section) 0;
  background-color: var(--sub);
  text-align: center;
}

#works .container > img {
  max-width: 100%;
  margin-bottom: 50px;
}

#works .box {
  background-color: #f6f5f5;
  padding: 30px;
  border-radius: 6px;
  border: 2px solid #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

#works .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: 0.3s;
}

#works .box:hover::before {
  width: 100%;
  height: 100%;
}

#works .box:last-child {
  margin: 0;
}

#works .box img {
  width: 64px;
  height: 64px;
}

#works .box h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

#works .box p {
  margin: 0;
  color: #777;
  line-height: 1.7;
  font-size: 18px;
}

/*** events ***/

#events {
  padding: var(--padding-section) 0;
  position: relative;
}

#events .dots {
  display: none;
}

#events img {
  display: none;
}

#events .content {
  text-align: center;
}

#events .time {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#events .time li {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
}

#events .time span:first-child {
  display: block;
  color: var(--main);
  font-size: 36px;
  font-weight: bold;
  padding: 15px;
}

#events .time span:last-child {
  display: block;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  padding: 8px 10px;
}

#events .title {
  font-size: 30px;
  margin: 40px 0 20px;
}

#events .desc {
  line-height: 1.7;
  font-size: 19px;
  color: #777;
  margin: 0;
}

#events .subscribe {
  margin: 80px 15px 0;
}

#events form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#events form [type="email"] {
  padding: 20px;
  flex: 1;
  border-radius: 50px;
  border: none;
  outline: none;
  caret-color: var(--main);
}

#events form [type="email"]:focus::placeholder {
  color: transparent;
}

#events form [type="submit"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  background-color: var(--main);
  color: var(--sub);
  font-weight: bold;
  cursor: pointer;
}

/*** pricing  ***/

#pricing {
  padding: var(--padding-section) 0;
  background-color: var(--sub);
  position: relative;
}

#pricing .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#pricing .plan {
  text-align: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#pricing .plan::before,
#pricing .plan::after {
  content: "";
  background-color: #f6f6f6;
  position: absolute;
  height: 50%;
  width: 0;
  z-index: -1;
  transition: 0.3s;
}

#pricing .plan::before {
  top: 0;
  left: 0;
}

#pricing .plan::after {
  bottom: 0;
  right: 0;
}

#pricing .plan:hover::before,
#pricing .plan:hover::after {
  width: 100%;
}

#pricing .plan.advanced .label {
  position: absolute;
  background-color: var(--main);
  color: #fff;
  padding: 10px 10px 36px 10px;
  font-weight: bold;
  top: 0;
  right: 20px;
  writing-mode: vertical-rl;
  font-size: 18px;
}

#pricing .plan.advanced .label::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  border: 20px solid;
  border-color: transparent transparent #fff;
}

#pricing .plan h3 {
  font-size: 25px;
}

#pricing .plan img {
  width: 80px;
  margin: 0 auto 30px;
}

#pricing .plan .price {
  color: var(--main);
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
}

#pricing .plan .time {
  color: #777;
}

#pricing .plan ul {
  margin: 20px 0;
  text-align: left;
}

#pricing .plan li {
  padding: 20px;
  border-top: 1px solid #eee;
}

#pricing .plan li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main);
}

#pricing .plan button {
  background-color: transparent;
  padding: 15px 20px;
  border: 2px solid var(--main);
  border-radius: 6px;
  cursor: pointer;
  color: var(--main);
  font-weight: bold;
  margin-bottom: 40px;
  transition: 0.3s;
}

#pricing .plan button:hover {
  color: #fff;
  background-color: var(--main);
}

/*** videos ***/

#videos {
  padding: var(--padding-section) 0;
}

#videos .holder {
  border: 1px solid #ddd;
}

#videos .title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 20px;
  background-color: #f4f4f4;
}

#videos .videos {
  min-width: 300px;
}

#videos .videos li {
  cursor: pointer;
  padding: 20px;
  border-top: 1px solid var(--sub);
  transition: 0.3s;
}

#videos .videos li:hover {
  background-color: #fafafa;
  color: var(--main);
}

#videos .videos li span {
  display: block;
  margin-top: 10px;
  color: #777;
}

#videos .preview {
  background-color: #e2e2e2;
  padding: 10px;
}

#videos .preview img {
  max-width: 100%;
}

#videos .preview p {
  margin: 10px 0 0;
  padding: 20px;
  background: #fff;
}

/*** stats ***/

#stats {
  padding: var(--padding-section) 0;
  position: relative;
  background-image: url("../imgs/stats.jpg");
  background-size: cover;
}

#stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}

#stats h2 {
  position: relative;
  z-index: 1;
  margin: 0 0 80px;
  text-align: center;
  font-size: 40px;
}

#stats .container {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  text-align: center;
}

#stats .box {
  background-color: #fff;
  padding: 30px 0;
  position: relative;
}

#stats .box::before,
#stats .box::after {
  content: "";
  position: absolute;

  background-color: var(--main);
  width: 2px;
  height: 0;
  transition: 1s;
}

#stats .box::before {
  left: 0;
  bottom: 0;
}

#stats .box::after {
  right: 0;
  top: 0;
}

#stats .box:hover::before,
#stats .box:hover::after {
  height: 100%;
}

#stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#stats .box .text {
  font-weight: bold;
  font-style: italic;
  color: var(--main);
  font-size: 20px;
}

/*** discount ***/

#discount .info {
  padding: var(--padding-section) 10px;
  position: relative;
  background-image: url("../imgs/discount-background1.jpg");
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#discount .info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(23 135 224 / 97%);
}

#discount .info .content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 500px;
}

#discount .info h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0 0 30px;
}

#discount .info p {
  line-height: 1.6;
  font-size: 18px;
}

#discount .info img {
  width: 300px;
}

#discount .form {
  padding: var(--padding-section) 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#discount .form .content {
  width: fit-content;
}

#discount .form h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0 0 30px;
}

#discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main);
  outline: none;
}

#discount .form textarea {
  min-height: 200px;
}

#discount .form [type="submit"] {
  background-color: var(--main);
  width: 100%;
  padding: 15px 0;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

/*** footer ***/

footer {
  background-color: #191919;
  color: #b9b9b9;
  text-align: center;
}

footer .container {
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

footer .info h2 {
  font-size: 50px;
  margin: 0 0 20px;
  color: #fff;
}

footer .info a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

footer .info a:not(:last-child) {
  margin-right: 10px;
}

footer .info .facebook:hover {
  background-color: #1877f2;
}

footer .info .twitter:hover {
  background-color: #1da1f2;
}

footer .info .youtube:hover {
  background-color: #ff0000;
}

footer .info p {
  line-height: 2;
}

footer .links li {
  transition: 0.3s;
}

footer .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

footer .links li:hover {
  padding-left: 15px;
  color: #fff;
}

footer .links a {
  padding: 15px 0;
  display: block;
}

footer .links a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main);
}

footer .contact .line {
  margin-bottom: 30px;
}

footer .contact i {
  color: var(--main);
  font-size: 25px;
  margin-bottom: 16px;
}

footer .contact p {
  margin: 0;
  line-height: 1.7;
}

footer .contact span {
  display: block;
}

footer .contact span:first-child {
  margin-bottom: 8px;
}

footer .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-content: start;
}

footer .gallery img {
  width: 78px;
  height: 78px;
  border: 3px solid white;
}

footer .copyright {
  margin: 0;
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid #313131;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}

footer .copyright span {
  color: red;
}

/*** media query ***/

/* medium */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  /* header */

  header .container {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header #logo {
    padding: 0;
  }

  header .nav .link {
    font-size: 18px;
    padding: 24px 28px;
  }

  header .menu {
    flex-direction: row;
    padding: 30px;
    top: 150px;
  }

  header .menu:hover {
    top: 69px;
    visibility: visible;
    opacity: 1;
  }

  header .drop-menu:hover + .menu {
    transition: 0.3s;
    top: 69px;
    visibility: visible;
    opacity: 1;
  }

  header .menu .links {
    flex: 1;
  }

  header .menu .links:first-of-type {
    margin-right: 40px;
  }

  /* landing */

  #landing {
    height: calc(100vh - 69px);
  }

  #landing .container {
    justify-content: center;
  }

  #landing .intro h1 {
    font-size: 40px;
  }

  #landing .intro p {
    font-size: 24px;
  }

  /*** works ***/

  #works .box {
    display: flex;
    align-items: center;
  }

  #works .box .content {
    text-align: left;
    margin-left: 30px;
  }

  #works .box h3 {
    margin-top: 0;
  }

  /* events */

  #events form {
    flex-direction: row;
  }

  /* footer */

  footer {
    text-align: left;
  }

  footer .contact .line {
    display: flex;
    align-items: center;
  }

  footer .contact i {
    margin: 0 10px 0 0;
  }
}

/* large */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  /* header */

  header .menu .image {
    display: block;
    width: 340px;
  }

  header .menu .image img {
    width: 100%;
  }

  header .menu .links:first-of-type {
    margin-left: 40px;
  }

  /* landing */

  #landing .container {
    text-align: left;
    justify-content: space-between;
  }

  #landing .intro {
    flex: 1;
  }

  #landing .image {
    display: block;
    width: 590px;
  }

  #landing .image img {
    width: 100%;
    animation: up-down 3s linear alternate infinite;
    position: relative;
  }

  /* skills */

  #skills .container {
    display: flex;
  }

  #skills .image {
    display: block;
  }

  /* works */

  #works .container {
    display: flex;
    align-items: center;
  }

  #works .container > img {
    margin-bottom: 0;
    margin-right: 100px;
  }

  /* events */

  #events .container {
    display: flex;
    align-items: center;
  }

  #events img {
    display: block;
    width: 450px;
  }

  /* videos */

  #videos .holder {
    display: flex;
  }

  #videos .preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* discount */

  #discount {
    display: flex;
  }

  #discount .info,
  #discount .form {
    flex: 1;
    height: 100vh;
  }
}

/* extra large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  /* header */

  header .menu .image {
    width: 400px;
  }

  /* events */

  #events .dots {
    display: block;
  }

  /* pricing */

  #pricing .plan.advanced {
    bottom: 20px;
  }

  #pricing .dots {
    display: block;
  }
}

/*** animation ***/

@keyframes up-down {
  from {
    bottom: 0;
  }
  to {
    bottom: 60px;
  }
}

@keyframes arrow {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes go-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes go-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes read-more {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes flash {
  to {
    width: 100%;
    height: 100%;
  }
}
